.Home {
  display: flex;
  flex-flow: column;
  background: #fff;

  & > section {
    padding: 4rem max(calc(50% - 620px), 3rem);

    & > h2 {
      margin: 0;
      color: #545454;
      font-weight: 300;
      font-size: 28px;
      text-align: center;
    }

    & > div {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;
      text-align: justify;

      & > a {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: min(26%, 21rem);
        height: 12rem;
        padding: 1rem;
        background: #b50926;
        color: #fff;
        text-align: center;
        transition: all 0.15s ease;

        & > svg {
          width: 4.5rem;
        }

        &:hover {
          background: #9f1730 !important;
        }
      }
    }

    &.services {
      background: #f6f6f6;
    }

    &.goldPartner > div > img {
      height: 100%;
      aspect-ratio: 18/7;
    }

    &.questions {
      background-position: center center;
      background-size: cover;
      color: #fff;

      & > div {
        & > h2 {
          max-width: 23rem;
          font-weight: 300;
          letter-spacing: 0.5px;
          text-align: right;
        }

        & > a {
          width: 9rem;
          height: 4rem;
          background: #cf0a2c;
        }
      }
    }

    /* stylelint-disable-next-line order/order */
    @media screen and (max-width: 900px) {
      &.services > div {
        flex-flow: column;

        & > a {
          width: min(34rem, 100%);
        }
      }

      &.goldPartner > div {
        flex-flow: column;
      }
    }
  }
}
