.LabeledBanner {
  position: relative;
  margin-bottom: -7px; //TODO: Define banner aspect-ratios & remove this line

  & > img {
    width: 100%;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
  }

  & > span {
    position: absolute;
    top: 10px;
    right: calc(10px + env(safe-area-inset-right));
    padding: 0.5rem 1rem;
    background: rgba(54, 54, 54, 0.5);
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
