.NotFound {
  padding: 10rem 1rem;
  text-align: center;

  & > h2 {
    color: #545454;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
  }

  & > div {
    font-size: 1rem;

    & > a {
      color: #cf0a2c;
    }
  }
}
